In [14]:
#import our dependencies
import pandas as pd
from functools import reduce

In [15]:
# create variables for our files
file1 = "Dependency_ratio_RAW.csv"
file2 = "Stunted_children_RAW.csv"
file3 = "3BD.csv"
file4 = "HOS.csv"
file5 = "GNI_per_capita_JMH.csv"
file6 = "Life_expectancy_JMH.csv"
file7 = "pop.csv"
file8 = "urb.csv"
file9 = "WA_Percentage-of-employed-women-in-lower-nonfarm-jobs-data.csv"
file10 = "WA_Percentage-of-employed-women-in-upper-nonfarm-jobs-data.csv"
file11 = "WA-Mean-years-education-of-adults-aged-20+-data.csv"
file12 = "WA-Percentage-of-employed-men-in-agriculture-data.csv"
file13 = "WA-Percentage-of-employed-men-in-lower-nonfarm-jobs-data.csv"
file14 = "WA-Percentage-of-employed-men-in-upper-nonfarm-jobs-data.csv"
file15 = "WA-Percentage-of-employed-women-in-agriculture-data.csv"

In [16]:
# read in our files
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)
df3 = pd.read_csv(file3)
df4 = pd.read_csv(file4)
df5 = pd.read_csv(file5)
df6 = pd.read_csv(file6)
df7 = pd.read_csv(file7)
df8 = pd.read_csv(file8)
df9 = pd.read_csv(file9)
df10 = pd.read_csv(file10)
df11 = pd.read_csv(file11)
df12 = pd.read_csv(file12)
df13 = pd.read_csv(file13)
df14 = pd.read_csv(file14)
df15 = pd.read_csv(file15)

In [17]:
df16 = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15]

In [18]:
df16 = reduce(lambda x,y: pd.merge(x,y,on=['Country'], how='inner'), df16)

In [19]:
# df17 = df16.drop(['ISO_Code_y'], axis = 1)


df16.head()

,Country,2010_DR,2011_DR,2012_DR,2013_DR,2014_DR,2015_DR,2016_DR,2017_DR,2018_DR,...,2011_WAE,2012_WAE,2013_WAE,2014_WAE,2015_WAE,2016_WAE,2017_WAE,2018_WAE,2019_WAE,2020_WAE
0,Albania,54.0,53.5,53.0,52.6,52.1,51.6,51.1,50.6,50.1,...,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0
1,Angola,99.7,99.3,102.0,105.0,108.0,111.0,114.0,117.0,119.0,...,46.3,46.3,46.3,46.3,46.3,46.3,46.3,46.3,46.3,46.3
2,Armenia,43.8,44.5,45.2,45.9,46.5,47.2,47.9,48.6,49.3,...,15.3,16.4,17.5,18.7,19.8,20.9,22.1,23.2,24.4,25.5
3,Azerbaijan,50.9,50.9,50.9,50.9,50.9,50.9,50.9,50.9,50.9,...,17.9,17.9,17.9,17.9,17.9,17.9,17.9,17.9,17.9,17.9
4,Bangladesh,68.5,67.8,66.3,64.9,63.4,61.8,60.2,58.5,56.9,...,7.1,19.3,31.6,43.8,56.0,68.3,80.5,92.7,105.0,117.0

In [20]:
df16.to_csv('new_all_data2.csv',index = False, header=True)